name: Build and Push to ECR

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # These folder names must match your ECR repository names in AWS
        app: [app-nginx, app-python, app-nodejs]
        
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
          APP_NAME: ${{ matrix.app }}
        run: |
          # Build the image using the folder path
          docker build -t $ECR_REGISTRY/$APP_NAME:$IMAGE_TAG -t $ECR_REGISTRY/$APP_NAME:latest ./$APP_NAME
          
          # Push both the unique SHA tag and the 'latest' tag
          docker push $ECR_REGISTRY/$APP_NAME:$IMAGE_TAG
          docker push $ECR_REGISTRY/$APP_NAME:latest
